<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/dashboardLayout.html}">

<head>
</head>

<body>
	<section class="row" layout:fragment="content">
		<div class="col-6 offset-3 mt-4">
			<form th:action="@{/admin/orderdetails/saveOrUpdate}" method="post" th:object="${orderdetail}">
				<div class="card">
					<div class="card-header">
						<h2>Add New Orderdetail</h2>
						<div class="card-body">
							<div class="form-group">
								<label for="orderDetailId">Orderdetail ID</label>
								<input type="hidden" th:field="*{isEdit}">
								<input type="text" class="form-control" th:field="*{orderDetailId}"
									aria-describedby="orderDetailHid" placeholder="OrderDetail ID" readonly>
								<small th:if="${#fields.hasErrors('orderDetailId')}" id="orderdetailHid"
							class="form-text text-muted">OrderDetail ID is required</small>
						</div>				
					<div class="form-group">
								<label for="bookId">Book ID</label>
								<input type="hidden" th:field="*{isEdit}">
								<input type="text" class="form-control" th:field="*{bookId}"
									aria-describedby="bookId" placeholder="Book ID" readonly>
								<small th:if="${#fields.hasErrors('bookId')}" id="bookId"
							class="form-text text-muted">Book ID is required</small>
						</div>	
						<div class="form-group">
								<label for="orderId">Order ID</label>
								<input type="hidden" th:field="*{isEdit}">
								<input type="text" class="form-control" th:field="*{orderId}"
									aria-describedby="orderId" placeholder="orderId ID" readonly>
								<small th:if="${#fields.hasErrors('orderDetailId')}" id="orderdetailHid"
							class="form-text text-muted">Order is required</small>
						</div>	
						<div class="form-group">
								<label for="price">Price </label>
								<input type="hidden" th:field="*{isEdit}">
								<input type="text" class="form-control" th:field="*{price}"
									aria-describedby="price" placeholder="price " readonly>
								<small th:if="${#fields.hasErrors('price')}" id="price"
							class="form-text text-muted">Price is required</small>
						</div>	
						<div class="form-group">
								<label for="quantity">Quantity </label>
								<input type="hidden" th:field="*{isEdit}">
								<input type="text" class="form-control" th:field="*{quantity}"
									aria-describedby="quantity" placeholder="quantity" readonly>
								<small th:if="${#fields.hasErrors('quantity')}" id="quantity"
							class="form-text text-muted">Quantity is required</small>
						</div>	
						
				</div>
				</div>
				<div class="card-footer text-muted">
					<button type="reset" class="btn btn-secondary">Reset</button>
					<a th:href="@{/admin/orderdetails/search}" class="btn btn-success">List Order Detail</a>
					<button class="btn btn-primary"><i class="fas fa-save"></i>
						<span th:if="${orderdetail.isEdit}">Update</span>
						<span th:if="${!orderdetail.isEdit}">Save</span>
					</button>
				</div>
			</div>
		</div>
	</form>
</div>
</section>
</body>
</html>